data/
dataset/
dataset_full_stack/
dataset_microscope/
test_images/

**/*.tif
**/*.npy
**/*.hdf5
**/*.h5
**/*.keras
**/*.pth

# Exception: Allow sharing best models
!best_models_PyTorch/unet/*.pth
!best_models_PyTorch/unet/*.pt
